.main {
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
    height: auto;
    width:100%;
    flex-direction: column;

}
.wrapper {
    width: 80%;
    height: auto;
    display: flex;
    /* text-align: center; */
    
    justify-content: space-between;

    @media screen and (max-width:768px) {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        line-height: 60px;
        font-size: 25px;
        
    }
    @media screen and (max-width:350px) {
        display: flex;
        /* border: 2px solid red; */
        width: 80%;
        padding-top: 20%;
    }
    
}
.footer{
    display: flex;
    gap: 20px;
}